.todo-page-container {
  align-items: start;
  gap:20px
}

.todo-list-container {
 padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 700px;
    overflow-y: scroll;
    width: 400px;
    border: 1px solid lightgray;
border-radius: 12px;
}

.todo-item-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
    height: 150px;
    cursor: pointer;
    color:inherit;
    text-decoration: none;
    &:hover {
      background-color: lightgray;
    }
}

.todo-details-container {
    padding: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 250px;
  border: 1px solid lightgray;
    border-radius: 12px;
}

.todo-details-form-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-add-button{
  width: 100%;
}

.todo-register-container{

}
